<h1>Customer#update</h1>
<p><%= link_to "Log out", signout_path %></p>

<%= form_with model: @customer, url: customer_path do |f| %>
  <%- @customer.specific_params.keys.map(&:to_sym).each do |el| %>
  <%= f.label el  %>
  <%= f.text_field el, class: 'form-control' %>
  <br>
<%- end %>
<%- @customer.extension.attributes.keys.map(&:to_sym).each do |el| %>
  <%= f.label  el %>
  <%= f.text_field el, class: 'form-control' %>
  <br>
<% end %>
<%= f.submit "Save changes", class: "btn btn-primary" %>
<% end %>
