<style type="text/css">
table {
    border-collapse: separate;
    border-spacing: 0;
    text-align: center;
}
th,td {
    padding: 10px 15px;
}
thead {
    background: #395870;
    color: #fff;
}
tbody tr:nth-child(even) {
    background: #f0f0f2;
}
td {
    border-bottom: 1px solid #cecfd5;
    border-right: 1px solid #cecfd5;
}
td:first-child {
    border-left: 1px solid #cecfd5;
}
</style>
<h1>LandingPage</h1>
<p>You are a type <%= current_user.extension_type.split('::').last %> Customer </p>
<p>You only see Customers form the same kind. </p>
<%= link_to "Log out", signout_path %>
<table>
  <caption> Specific Customer Table </caption>
  <thead>
  <tr>
<% @customers.first.keys.each do |key| %>
  <th scope="col"> <%= key%> </th>
<% end %>
  </tr>
  </thead>
<% @customers.each do |c| %>
  <tbody>
  <tr>
    <%- c.keys.each do |key|%>
      <%- if key == "name" %> 
        <td><%=  link_to c[key], customer_path(BaseCustomer.find_by_name(c[key])) %></td>
      <%- else %> 
        <td><%=  c[key] %></td>
      <% end %>
    <% end %>
  </tr>
<% end %>
</table>
</tbody>
