<h1>New Customer</h1>

<%= form_for :base_customer, url: customer_create_path(@customer) do |f| %>
<div>
<%= f.label :name %>
<%= f.text_field :name, autofocus: true %>
</div>
<div>
<%= f.label :phone %>
<%= f.text_field :phone %>
</div>
<div>
<%= f.label :batt_cap %>
<%= f.text_field :batt_cap %>
</div>

<div>
<%= f.label :password %>
<%= f.password_field :password %>
</div>
<div>
<%= f.label :password_confirmation %>
<%= f.password_field :password_confirmation %>
</div>
<div>
<%= f.submit "Submit" %>
</div>
<% end %>
