<style type="text/css">
  table, th, td {
    border: 1px solid black;
    padding: 10px;
  }
</style>

<h1>Customer <%= @customer.name %> </h1>
<p> <%= link_to "Log out", signout_path %> </p>
<p> <%= link_to("Update Customer", edit_customer_path(@customer), :method => :put) %> 
<table >
<tbody>
  <%- @customer.as_json.merge(@customer.extension.as_json){|k,a,b| a}.keys.map do |k| %>
  <tr>
    <td><%= k %></td>
    <td><%= @customer.attributes[k] %></td>
  </tr>
<% end %>
</tbody>
</table>
